/* Сбрасываем стили по умолчанию */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* ------------------------------- */
/* отладочные рамки */
.bb {
    border: 1px solid red;
}

html, body{
    height: 100%;
    font-family: 'Monserrat', sans-serif;
    background-color: #575757;
}
/*Стили для демонстрации*/
.wrapper{
    background-color: #373737;
    color: white;
}

/*Основные стили*/
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #373737;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    /*Выравнивает по центру поперечной оси */
    align-items: center;
}
.header__logo{
    flex: 0 0 60px;
    /*Делаем картинку круглой(она правда и так круглая, но всё же...*/
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__burger{
    display: none;
}
.header__menu{}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    /*Убираем точки*/
    list-style: none;
    margin: 0 0 0 20px;
}
.header__link{
    color: white;
    /*Все буквы в верзнем регистре*/
    /* text-transform: uppercase; */
    font-size: 18px;
    text-decoration: none;
}

.header__menu > ul > li > a {
    /*color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;*/
    font-family: 'roboto', sans-serif;
     font-size: 15px;
     position: relative;
}

.header__menu > ul > li:last-child > a {
    margin-right: 20px;
}

.header__menu > ul > li > a::after {
    content: "";
    width: 10%;
    height: 3px;
    background: #00a1d2;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    transition-duration: 0.3s;
    opacity: 0;
}

.header__menu > ul > li > a:hover::after {
    width: 100%;
    opacity: 1;
}

.section{
    margin-top: 140px;
    display: block;
    position: relative;
    text-align: center;
}
.section > h1{
    font-family: 'roboto', sans-serif;
    letter-spacing: 2px;
}

@media (max-width:767px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 40px;
    }

    /*Рисуем сам Бургер*/
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
    }
    .header__burger:before, .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    /*Поварачиваем в крестик при нажатии и убираем палочку в span*/
    .header__burger.active:before{
        transform:rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }


    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #575757;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .header__link{
        font-size: 24px;
    }
    .header__menu > ul > li > a:hover::after {
        width: 100%;
        opacity: 0;
    }
    .header__menu > ul > li > a{
        font-size: 25px;
    }
}



.content{
    padding: 100px 0 0 0;
}
.content__text{
    font-size: 18px;
    line-height: 25px;
}
.content__text p{
    padding: 0 0 20px 0;
}



@media (max-width:767px){
    .content{
        padding: 70px 0 0 0;
    }
}




















/*.main-menu .icon {
    display: none;
}*/

/*
@media (max-width: 768px) {

    header {
        height: 365px;
        background-color: #373737;
    }
    .main-menu > ul > li  {
        display: block;
        margin: 0 auto;

    }
    .main-menu > ul > li > a {
        color: white;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 1px;
        margin-right: 15px;
        font-family: 'roboto', sans-serif;
        font-size: 15px;
        position: relative;

    }
    !*.main-menu a{*!

        !*display: none;*!
    !*}*!
    .main-menu a.icon {
!*         float: left; *!
!*         margin-top: -17px; *!

        display: block;
        color: white;
        font-size: 20px;
    }

    nav {
        width: 85%;
    }

    !*.main-menu .responsive{*!
        !*position: relative;*!
        !*top: 50px;*!
        !*left: -200px;*!
    !*}*!

    !*header .main-menu .responsive{*!
        !*height: 340px;*!
    !*}*!

    !*.main-menu .responsive a.icon{*!
        !*position: absolute;*!
        !*top: -50px;*!
        !*right: -200px;*!
    !*}*!

    .main-menu .responsive a{
        float: none;
        display: block;
        text-align: left;
    }


}*/
